hypr/wallpapers/
systemd/
pulse/
rofi/images/
pavuvcontrol.ini
Code*/
dconf/
Slack/
MongoDB Compass/
QtProject.conf
bruno/
htop/
pip/
pypoetry/
qBittorrent/
pavucontrol.ini
GitKraken/
mimeapps.list
ibus/
pulse/
yay/
jadx/
mc
