* * {
    font-family: Ubuntu Nerd Font;
    font-size: 13px;
    font-weight: bold;
}

#waybar {
    background: transparent;
    border: none;
}

button {
    background: none;
}

#workspaces button {
    padding: 0 5px;
    background: none;
    color: #ebdbb2;
    border: none;
}

#workspaces button:hover {
    color: rgba(196,57,41,0.75);
}

#workspaces button.active {
    color: #A54242;
}

.modules-left {
    margin-left: 10px;
}

.modules-right > widget > * {
    /* margin-right: 5px; */
    padding: 0 5px;
    font-size: 15px;
}

.modules-right > widget:last-child > * {
    margin-right: 10px;
}

#clock {
    color: #d79921;
    font-size: 15px;
}

#idle_inhibitor {
    color: #7c6f64;
}

#idle_inhibitor.activated {
    color: #928374;
}

#bluetooth {
    font-size: 16px;
    color: #458588;
}

#pulseaudio {
    color: #d65d0e;
}

#network {
    color: #d79921;
}

#network.disconnected {
    background-color: #cc241d;
}

#cpu {
    color: #A54242;
}

#memory {
    color: #458588;
}

#temperature {
    color: #689d6a;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#battery {
    color: #98971a;
}

#battery.charging, #battery.plugged {
    color: #98971a;
}

#battery.critical:not(.charging) {
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #fb3934;
    }
}

#custom-powermenu {
    color: #83a598;
}

