" Vim syntax file
" Language: falang
" Maintainer: MIA
" Latest Revision: 30 mai 2019

if exists("b:current_syntax")
  finish
endif

" Integer with - + or nothing in front
syn match celNumber '\d\+'
syn match celNumber '0x\x\+'

syn keyword celBlockCmd {% for block in blocks %} {{block}} {% endfor %}

syn keyword celBlockCmd {% for key in keys %} {{key}} {% endfor %}

syn keyword celBlockCmd count not
syn keyword celBlockCmd trig name 

syn keyword celBoolConst true false 
syn keyword celOtherConst inf

syn region celString start='"' end='"'
syn match celComment "#.*$"
syn match celComment "//.*$"
syn region celComment start='/\*' end='\*/'

" hi def link celTodo        Todo
hi def link celComment     Comment
hi def link celBlockCmd    Statement
" hi def link celHip         Type
hi def link celString      String

hi def link celNumber      Number
hi def link celBoolConst      Boolean
hi def link celOtherConst      Constant


